@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

.nav-link {
    color: #343A40; 
}
.active {
    color: #af0868 !important;
}

.btn-outline-danger:hover {
    background: #af0868 !important;
    color: #f8f9fa;
}

#SellAHomeButton{
    border-color: #af0868 !important;
}

.btn-outline-danger {
    color: #af0868;
}

.nav-link-auth, .nav-link-admin {
    font-size: 1em;
    color: white;
    letter-spacing: 0.8px;
}