<nav class="mb-1 navbar navbar-expand-lg primary-color border" id="AuthNavbar" *ngIf="currentUser">
    <div class="container">
    <div class="collapse navbar-collapse primary-color" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto" *ngIf="currentUser && currentUser.role == 'User'">
        <li class="nav-item active">
            <a class="nav-item nav-link nav-link-auth font-weight-bold" routerLink="/">My Profile
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-auth font-weight-bold" href="#" [routerLink]="['/my-adverts']">My Adverts</a>
        </li>  
        <li class="nav-item">
            <a class="nav-link nav-link-auth font-weight-bold" href="#">Buy a House</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-auth font-weight-bold" [routerLink]="['/adverts/0/edit']">Sell a house</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-auth font-weight-bold" href="#">Manage my Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-auth font-weight-bold" href="#">My Seller Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-auth font-weight-bold" href="#">Favourite Houses</a>
        </li>
      </ul>

      <ul class="navbar-nav mr-auto" *ngIf="currentUser && currentUser.role == 'Admin'">
        <li class="nav-item">
            <a class="nav-link nav-link-admin font-weight-bold" href="#">User Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-admin font-weight-bold" href="#">Advert Management</a>
        </li>
    </ul>
    </div>
    </div>
  </nav>

    <!-- adverts/0/edit -->