.btn-danger {
    background-color: #AF0868 !important;
}

.register-heading{
    color:  #AF0868;
}

.invalid-feedback {
    color: black !important;
}

.registration {
    background: #ccc;
}

.btn:not(.disabled):hover
 {
    background: #fff !important;
    border-color:#AF0868 !important; 
    color: #AF0868;
}

.disabled:hover {
    cursor: not-allowed;
    background: #AF0868 !important;
    border-color:#AF0868 !important;
}

